.container {
	display:inline-block;
	border: 0px solid gray; 	
	position: relative;
	box-sizing:border-box;
	margin-right: auto; 
	margin-left: auto;
	margin-bottom: 30px; 
	margin-top:30px; 
}

.innerCircle {
	width:70px; 
	height:70px; 
	display:inline-block; 
	background-color:Black;
	position: absolute;
	left:137px; 
	top:137px;
	border:1px solid white; 
	border-radius:35px; 
	box-sizing:border-box;
	text-align:center; 
	padding:0; 
	color:white;
	padding-top:20px; 
	div{
		padding:0; 
		text-align:center; 
	}
}
.selected {
	background-color: #cc0000;
}
